<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <?js
if (env.conf.templates.meta) {
  if (env.conf.templates.meta.description) {
?>
    <meta name="description" content="<?js= env.conf.templates.meta.description ?>">
    <?js
  }
  if (env.conf.templates.meta.keyword) {
?>
      <meta name="keywords" content="<?js= env.conf.templates.meta.keyword ?>">
      <?js
  }
}
?>
        <title>
          <?js= ((env.conf.templates.meta && env.conf.templates.meta.title) || title) ?>
        </title>
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="img/android-desktop.png">
        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="ModPE API Docs">
        <link rel="apple-touch-icon-precomposed" href="img/ios-desktop.png">
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
        <!-- build:template
      <link rel="stylesheet" href="css/<%= materialize %>"  media="screen,projection">
      /build -->
        <!-- build:remove:dev -->
        <link rel="stylesheet" href="css/modpe-api.min.css" media="screen,projection">
        <!-- /build -->
        <!-- build:remove:dist -->
        <link rel="stylesheet" href="css/modpe_api_icons.css" media="screen,projection">
        <link rel="stylesheet" href="css/gfm.css" media="screen,projection">
        <link rel="stylesheet" href="css/highlight-monokai-sublime.css" media="screen,projection">
        <link rel="stylesheet" href="css/style.css" media="screen,projection">
        <!-- /build -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <?js  if (env.conf.templates) { ?>
          <script>
          var config = <?js= JSON.stringify(env.conf.templates) ?> ;
          </script>
          <?js  }
      var appName = env.conf.templates.applicationName;
?>
</head>

<body>
  <h1 class="hide" data-filename="<?js= filename ?>"><?js= title ?></h1>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <a id="logo-container" href="index.html" class="brand-logo app-name">
            <?js= appName ?>
          </a>
          <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <div class="right-nav hide-on-med-and-down">
            <a href="#" class="waves-effect waves-light btn-flat login">login</a>
            <a href="#" class="waves-effect waves-light btn header-btn">
              <i class="fa fa-github fa-fw btn-icon"></i>sign up</a>
          </div>
          <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="credits.html">Credits</a></li>
            <li><a href="todo.html">TODO</a></li>
            <li><a href="contribute.html">Contribute</a></li>
          </ul>
          <ul class="side-nav">
            <li><a href="index.html">Features</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">About</a></li>
            <a href="#" class="waves-effect waves-stamplay btn-flat btn">
          sign up <i class="fa fa-github"></i>
          </a>
            <a href="#" class="waves-effect waves-light btn white-text">login</a>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="side-nav fixed">
    <?js= this.partial('navigation.tmpl', this) ?>
  </ul>
<main>
        <div class="container">
          <div class="row">
            <div class="col s12 l9">
              <?js= content ?>
            </div>
          </div>
        </div>
      </main>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col s12 center">
              <p><a href="https://github.com/duggum/modpe-api" title="ModPE API Documentation">ModPE API Documentation</a> &copy; <span id="cyear">2015</span> <a href="https://duggum.com">David Jopson</a></p>
              <p>Generated by <a href="https://github.com/jsdoc3/jsdoc" title="JSDoc <?js= env.version.number ?>">JSDoc <?js= env.version.number ?></a> ::
                <?js= (new Date().toDateString()) ?>
              </p>
              <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons License"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"></a>
              </p>
            </div>
          </div>
        </div>
      </footer>
  </main>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <!-- build:remove:dist -->
      <script src="js/init.js"></script>
      <script src="js/vein.js"></script>
      <script src="js/highlight.pack.js"></script>
      <script src="js/hljs-line-numbers.js"></script>
      <!-- <script src="js/app.js"></script> -->
      <!-- /build -->
      <!-- build:remove:dev -->
      <script src="js/modpe-api.min.js"></script>
      <!-- /build -->
      <script type="text/javascript">
      /* global hljs */
      hljs.configure({
        tabReplace: "  "
      });
      hljs.initHighlightingOnLoad();
      hljs.initLineNumbersOnLoad();

      window.onload = function() {
        // cleanup any pretty print stuff from jsdoc
        var preTags = document.getElementsByTagName("pre");
        for (var t = 0; t < preTags.length; t++) {
          preTags[t].removeAttribute("class");
        }
        // update copyright date
        document.getElementById("cyear").innerHTML = new Date().getFullYear();
      };
      </script>
</body>

</html>
